/*
          .▄▄ · ▄▄▄▄▄ ▄▄▄· ▄▄▄  ▄▄▄▄▄ ▄▄▄· ▄▄▄·  ▄▄ • ▄▄▄ .
          ▐█ ▀. •██  ▐█ ▀█ ▀▄ █·•██  ▐█ ▄█▐█ ▀█ ▐█ ▀ ▪▀▄.▀·
          ▄▀▀▀█▄ ▐█.▪▄█▀▀█ ▐▀▀▄  ▐█.▪ ██▀·▄█▀▀█ ▄█ ▀█▄▐▀▀▪▄
          ▐█▄▪▐█ ▐█▌·▐█ ▪▐▌▐█•█▌ ▐█▌·▐█▪·•▐█ ▪▐▌▐█▄▪▐█▐█▄▄▌
           ▀▀▀▀  ▀▀▀  ▀  ▀ .▀  ▀ ▀▀▀ .▀    ▀  ▀ ·▀▀▀▀  ▀▀▀ 
                 	by vortex !NOiDx.cCl2
*/

@font-face {
font-family: 'MonteCarlo';
src: url("./MonteCarlo.ttf")
}

/* VARIABLES */
:root {
	--body-bg:#0d0b17;
	--body-bg-var:#0f0d1b;
	--color-main:#a7a7ad;
	--color-1:#21969d;
	--color-2:#236f8b;
	--color-3:#4b658c;
	--font-family:'MonteCarlo';
	--font-size:17px;
}

/* PAGE STYLE & COLORS */
body {
	background:var(--body-bg);
	font-family:var(--font-family);
	color:var(--color-main);
	font-size:var(--font-size);	
}

#container {
	margin-top: 30%;
	margin-left:auto;
	margin-right:auto;
	padding: 4px 16px;
	width: 800px;
	background:var(--body-bg-var);
}

#navLinks a:link, a:visited {
	color:var(--color-1);
	text-decoration:none;
	font-weight:normal;
}

#navLinks a:hover {
	color:var(--color-2);
	text-decoration:underline;
	font-weight:normal;
}

/* MISC */
#bf {
	position:fixed;
	bottom:0;
	right:0;
	padding-right:10px;
	padding-bottom:10px;
}

#np {
	background:var(--body-bg-var);
	padding:10px;
	border-radius:10px;
	height:20px;
}

#clock, #date {
	display:inline-block;
	color:var(--color-3);
	font-family:var(--font-family);
}

input[type="submit"] {display: none;}
input {
	background-color:var(--body-bg-var);
	color:var(--color-main);
	border: none;
	font-family:var(--font-family);
	font-size:var(--font-size);
	padding:0;
}
#search {
	float:left;
	margin: 0 0 0 6px;
	padding: 0;
}
